@model ChatViewModel


<div class="container">
    <div class="row">
        <div class="col-md-3">
            @foreach (var item in Model.Chats)
            {
                <a href="/Home/GoChat/@item.ReceiverId">
                <div style="display:flex;cursor:pointer;width:300px;border:2px solid springgreen;
margin-top:15px;padding:15px;border-radius:15px;">
                <img style="width:70px;height:70px;" alt="avatar" src="\images\@item.Receiver.ImageUrl" />
                <section style="margin-left:20px;">
                    <h4>@item.Receiver.UserName</h4>
                            @if (item.Receiver.IsOnline)
                            {
                                <h5 style="color:springgreen"><b>Online</b></h5>
                            }
                            else
                            {
                                <h5 style="color:red"><b>Not Available</b></h5>
                            }
                        </section>
                </div>    
                </a>
            }
        </div>
        <div class="col-md-9">
        </div>
    </div>
</div>





<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>